<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<h1>URL list</h1>
	<table border="1">
	<tr>
		<td>/index</td>
		<td>APP端调起店铺信息参数</td>
	</tr>
	<tr>
		<td>/sign_up</td>
		<td>APP端用户进行注册</td>
	</tr>
	<tr>
		<td>/login</td>
		<td>APP端用户进行登录</td>
	</tr>
	<tr>
		<td>/user/&lt;userID&gt;/orders/&lt;orderID&gt;</td>
		<td>APP端调起订单信息参数</td>
	</tr>
	<tr>
		<td>/index/&lt;storeID&gt;</td>
		<td>APP端用户点进单个店铺后获取的信息</td>
	</tr>
	<tr>
		<td>/search</td>
		<td>APP端进行店铺搜索参数</td>
	</tr>
	<tr>
		<td>/users/modify</td>
		<td>APP端用户修改个人信息</td>
	</tr>
	<tr>
		<td>/user/&lt;userID&gt;/orders</td>
		<td>APP端调起单个用户所有订单信息</td>
	</tr>
</table>
</body>
</html>
